.portfolio li {
    display: inline-block;
    width: 45%;
    border: 8px solid black;
    padding: 16px;
    background-color: #FAFFFC;
    box-sizing: border-box;
    margin-right: 16px;
    margin-bottom: 16px;
}

.portfolio img {
    width: 100%;
}